@model WebApplication7.Models.Tickets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Project Name
           @*@Html.DisplayNameFor(model => model.Project.name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.name)
        </dd>

        <dt>
            Ticket Priority
            @*@Html.DisplayNameFor(model => model.TicketPriorities.name)*@
        </dt>
            <dd>
                @Html.DisplayFor(model => model.TicketPriorities.name)
            </dd>

            <dt>
                Ticket Status
                @*@Html.DisplayNameFor(model => model.TicketStatus.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketStatus.name)
            </dd>

            <dt>
                Ticket Types
                @*@Html.DisplayNameFor(model => model.TicketTypes.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketTypes.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

            <dt>
                Ticket Owner
                @*@Html.DisplayNameFor(model => model.OwnerUserId)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerUser.DisplayName)
            </dd>

            <dt>
                Ticket Assigned To
                @*@Html.DisplayNameFor(model => model.AssignedtoUser.DisplayName)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedtoUser.DisplayName)
            </dd>

        </dl>
    </div>
@Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Comments</h3>
        <table class="table">

            @foreach (var item in Model.TicketComments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comment)
                    </td>
                    <td>
                        Created:

                        @Html.Raw(item.created.ToString("f"))
                    </td>
                </tr>
            }
        </table>
    </div>
    <p>

        <div class="panel-footer">
            <div class="row">
               
                @Html.ActionLink("New Comment", "Create", "TicketComments", new { TicketId = Model.id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("New Attachment", "Create", "TicketAttachments", new { id = Model.id }, new { @class = "btn btn-primary" })
            </div>
            <div @Html.ActionLink("Back to List", "Index")

</div>
    </p>
