@model IEnumerable<WebApplication7.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Project Name
           @* @Html.DisplayNameFor(model => model.Project)*@
        </th>
        <th>
            Ticket Priority
            @*@Html.DisplayNameFor(model => model.TicketPriorities)*@
        </th>
        <th>
           Ticket Status
            @*@@Html.DisplayNameFor(model => model.TicketStatus)*@
        </th>
        <th>
            Ticket Type
           @* @Html.DisplayNameFor(model => model.TicketTypes)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            Ticket Owner
            @*@Html.DisplayNameFor(model => model.OwnerUserId)*@
        </th>
        <th>
            Ticket Assigned To
            @*@Html.DisplayNameFor(model => model.AssignedtoUserId)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriorities.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketTypes.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedtoUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
